@tailwind base;
@tailwind components;
@tailwind utilities;


@import "@mantine/core/styles.css";

.check{
  border: 2px solid red;
}

.curveleft{
  background-color: #DDD8F1;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  }
  .curveright{
    background-color: #DDD8F1;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    }

